<div class="wrapper-footer">
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="module mod_1 first no_title span4">
          <div class="newsflash">
            <p>
              Всички права запазени. Great Photo Art {% year %}
            </p>
          </div>
        </div>

        <div class="module mod_2 last span8">
          <!-- Additional footer content -->
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="{{ pathPrefix }}templates/js_wright/wright/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    // Bootstrap dropdown functionality
    $('.dropdown-toggle').dropdown();
  });
</script>

