<header id="header">
  <div class="row clearfix">
    <div id="logo" class="span10">
      <div class="custom">
        <p><a href="{{ pathPrefix }}index.html" title="greatphotoart.com"><img src="{{ pathPrefix }}images/logo.png" alt="Great Photo Art" /></a></p>
      </div>
    </div>
    <div id="top" class="span2">
      <div id="top_primary" class="clearfix">
        <div class="moduletable">
          <h3>Social</h3>
          <div class="custom">
            <p>
              <a href="https://pinterest.com/greatphotoart/"><img src="{{ pathPrefix }}images/1.png" alt="GreatPhotoArt в Pinterest" style="margin: 0 5px 0 0;" /></a>
              <a href="https://twitter.com/GreatPhotoArt"><img src="{{ pathPrefix }}images/3.png" alt="GreatPhotoArt в Twitter" style="margin: 0 5px 0 0;" /></a>
              <a href="https://www.facebook.com/GreatPhotoArt"><img src="{{ pathPrefix }}images/2.png" alt="GreatPhotoArt във Facebook" style="margin: 0 5px 0 0;" /></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</header>

